@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,900italic");
/*
 *** Compiled from bootstrap-scss/conferences-theme.scss

 *** Structure:
 *** 1. Bootstrap theme SCSS ***
 *** 2. Our custom styles ***
*/
/*  Modular Scale of Typography
    ----------------------
    15px @ 1:1.2
    Example usage:   h1 { font-size: $font-size-base * $scale-x3; } 
    This translates to 15px * 1.728 = 25.92px
    To round up:     h1 { font-size: ceil(($font-size-base * $scale-x3)) } 
    ----------------------
*/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-default:active, .btn-default.active,
  .btn-primary:active,
  .btn-primary.active,
  .btn-success:active,
  .btn-success.active,
  .btn-info:active,
  .btn-info.active,
  .btn-warning:active,
  .btn-warning.active,
  .btn-danger:active,
  .btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn:active, .btn.active {
  background-image: none; }

.btn-default {
  background-image: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE0E0E0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 white;
  border-color: #ccc; }
  .btn-default:hover, .btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px; }
  .btn-default:active, .btn-default.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb; }

.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF2D6CA2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2b669a; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #2d6ca2;
    background-position: 0 -15px; }
  .btn-primary:active, .btn-primary.active {
    background-color: #2d6ca2;
    border-color: #2b669a; }

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e; }
  .btn-success:hover, .btn-success:focus {
    background-color: #419641;
    background-position: 0 -15px; }
  .btn-success:active, .btn-success.active {
    background-color: #419641;
    border-color: #3e8f3e; }

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2AABD2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9; }
  .btn-info:hover, .btn-info:focus {
    background-color: #2aabd2;
    background-position: 0 -15px; }
  .btn-info:active, .btn-info.active {
    background-color: #2aabd2;
    border-color: #28a4c9; }

.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0AD4E', endColorstr='#FFEB9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #eb9316;
    background-position: 0 -15px; }
  .btn-warning:active, .btn-warning.active {
    background-color: #eb9316;
    border-color: #e38d13; }

.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFC12E2A', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28; }
  .btn-danger:hover, .btn-danger:focus {
    background-color: #c12e2a;
    background-position: 0 -15px; }
  .btn-danger:active, .btn-danger.active {
    background-color: #c12e2a;
    border-color: #b92c28; }

.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, whitesmoke 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
  background-color: #e8e8e8; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF357EBD', GradientType=0);
  background-color: #357ebd; }

.navbar-default {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #222222; }

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none; }

header.navbar .navbar-brand p {
  font-size: 25.92px; }

body {
  background: transparent url("../img/asphalt.jpg") repeat 0 0; }

/* hiding this for now as we might want it again if the other thing is a pain in the ass */
header.navbar {
  width: auto;
  border: 0px;
  background-image: none; }
  header.navbar .navbar-header {
    float: none;
    display: block; }
  header.navbar .navbar-brand {
    display: block;
    background-color: #000;
    padding: 10px 15px;
    margin: 0;
    float: none;
    font-family: "league-gothic", sans-serif;
    font-weight: 400;
    -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }
    header.navbar .navbar-brand h1 {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      display: block;
      font-size: 25.92px; }
    header.navbar .navbar-brand p {
      display: block;
      margin: 0;
      padding: 5px 0px;
      line-height: 1.1;
      color: #555555;
      font-size: 25.92px; }
  header.navbar .navbar-toggle {
    background-color: #ead704;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    margin: 0px;
    padding: 9px 10px;
    position: absolute;
    right: 10px;
    top: 15px; }
    header.navbar .navbar-toggle .icon-bar {
      background-color: #000; }
  header.navbar nav {
    clear: both;
    margin: 0;
    float: none;
    width: 100%;
    background-color: #000; }
    header.navbar nav .navbar-nav {
      display: block;
      width: 100%;
      margin: 0;
      background-color: #000;
      width: auto;
      -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
      header.navbar nav .navbar-nav li {
        display: block;
        float: left;
        font-size: 15px;
        border: 1px solid #555555;
        margin: 0;
        padding: 0;
        width: 32%; }
        header.navbar nav .navbar-nav li a {
          padding: 1em;
          text-transform: uppercase;
          font-weight: bold;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          header.navbar nav .navbar-nav li a:hover {
            background-color: #ed145b;
            color: #fff; }
        header.navbar nav .navbar-nav li.active a {
          color: #ed145b; }

main {
  position: relative; }
  main:before {
    background: #ead704;
    bottom: 0;
    content: "";
    right: 5px;
    position: absolute;
    top: 0;
    width: 10px;
    opacity: 0.7; }
  main:after {
    background: #ead704;
    bottom: 0;
    content: "";
    right: 30px;
    position: absolute;
    top: 0;
    width: 10px;
    opacity: 0.7; }
  main .month {
    display: block;
    padding: 80px 0 0 0; }
    main .month:before, main .month:after {
      content: " ";
      display: table; }
    main .month:after {
      clear: both; }
    main .month h2 {
      font-size: 26px;
      font-family: "league-gothic", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
      color: #f3f2e6;
      padding: 0.25em 0; }
    main .month .conferences {
      padding-bottom: 2em; }
      main .month .conferences .conference {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 1em 0; }
        main .month .conferences .conference h3 {
          font-size: 15px;
          color: #ead704; }
          main .month .conferences .conference h3 a {
            text-decoration: none; }
        main .month .conferences .conference ul {
          margin: 0;
          padding: 0; }
          main .month .conferences .conference ul li {
            list-style: none;
            list-style-position: outside;
            color: #f3f2e6; }

footer {
  background: #000;
  color: #555555;
  padding: 2em 0 0 0;
  position: relative; }
  footer p {
    padding: 0 170px 1em 0; }
  footer img {
    display: block;
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px; }

@media (min-width: 992px), (min-width: 768px) {
  header.navbar {
    display: inline-block;
    background: none; }
    header.navbar .navbar-brand {
      display: inline-block;
      background-color: #000;
      padding: 10px 30px;
      margin: 0;
      float: right; }
      header.navbar .navbar-brand h1 {
        text-transform: uppercase;
        padding: 0;
        display: inline-block;
        float: left;
        font-size: 44.79px; }
      header.navbar .navbar-brand p {
        display: block;
        float: left;
        padding: 0 0 0 30px;
        font-size: 44.79px; }
    header.navbar nav {
      width: auto;
      background: none !important;
      float: right; }
      header.navbar nav .navbar-nav {
        margin: 0;
        padding: 0 20px 0 0;
        background-color: #000;
        width: auto;
        -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }
        header.navbar nav .navbar-nav li {
          font-size: 15px;
          float: none;
          width: auto;
          display: inline-block;
          border: 0; }
          header.navbar nav .navbar-nav li a {
            padding: 1em;
            text-transform: uppercase;
            font-weight: bold;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
            header.navbar nav .navbar-nav li a:hover {
              background-color: #ed145b;
              color: #fff; }
          header.navbar nav .navbar-nav li:first-of-type a {
            padding-left: 1.5em; }
          header.navbar nav .navbar-nav li.active a {
            color: #ed145b; }

  main {
    position: relative; }
    main:before {
      background: #ead704;
      bottom: 0;
      content: "";
      right: 5px;
      position: absolute;
      top: 0;
      width: 15px;
      opacity: 0.7; }
    main:after {
      background: #ead704;
      bottom: 0;
      content: "";
      right: 40px;
      position: absolute;
      top: 0;
      width: 15px;
      opacity: 0.7; }
    main .month {
      display: block;
      padding: 150px 0 0 0;
      opacity: 0.7; }
      main .month:before, main .month:after {
        content: " ";
        display: table; }
      main .month:after {
        clear: both; }
      main .month:hover {
        opacity: 1; }
      main .month h2 {
        font-size: 45px;
        font-family: "league-gothic", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        width: 38%;
        float: left;
        color: #f3f2e6;
        padding: 0.25em 0; }
      main .month .conferences {
        float: left;
        width: 62%; }
        main .month .conferences:before {
          background: #f3f2e6;
          bottom: 0;
          content: "";
          left: 24%;
          position: absolute;
          top: 0;
          width: 15px;
          opacity: 0.1 !important; }
        main .month .conferences .conference {
          width: 33%;
          float: left;
          padding: 1em;
          box-sizing: border-box; }
          main .month .conferences .conference:nth-child(3n + 1) {
            clear: both; }
          main .month .conferences .conference h3 {
            font-size: 18px;
            color: #ead704; }
            main .month .conferences .conference h3 a {
              text-decoration: none; }
          main .month .conferences .conference ul {
            margin: 0;
            padding: 0; }
            main .month .conferences .conference ul li {
              list-style: none;
              list-style-position: outside;
              font-size: 18px; } }
@media (min-width: 768px) and (max-width: 992px) {
  header.navbar .navbar-brand h1,
  header.navbar .navbar-brand p,
  main .month h2 {
    font-size: 32px; }

  main .month .conferences .conference {
    width: 50%; }
    main .month .conferences .conference:nth-child(2n+1) {
      clear: both; }
    main .month .conferences .conference:nth-child(3n+1) {
      clear: none; } }
/*
** Thanks for the inspiration http://tympanus.net/Blueprints/AnimatedHeader/# 
**
*/
